{% if include.project.website or include.project.github or include.project.huggingface or include.project.wandb_report %}
<div class="paper-resources">
  {% if include.project.website %}
  <a target="_blank" href="{{ include.project.website }}" class="paper-resource-link" title="Website">{% include icons/icon-website.html %}</a>
  {% endif %}
  {% if include.project.github %}
  <a target="_blank" href="{{ include.project.github }}" class="paper-resource-link" title="GitHub">{% include icons/icon-github.html %}</a>
  {% endif %}
  {% if include.project.huggingface %}
  <a target="_blank" href="{{ include.project.huggingface }}" class="paper-resource-link" title="HuggingFace"><img src="/assets/icons/hf_logo.svg" alt="HuggingFace" class="hf-logo"></a>
  {% endif %}
  {% if include.project.wandb_report %}
  <a target="_blank" href="{{ include.project.wandb_report }}" class="paper-resource-link" title="W&B Report"><img src="/assets/icons/wandb-dots-logo.svg" alt="W&B" class="wandb-logo"></a>
  {% endif %}
</div>
{% endif %}