// Variables
// ---------------------------------------/

$container-width: 1120px !default;
$grid-gutter:     10px !default;

// Colors
$white:             #fff;
$black:             #17242c;

// Styles
$text_color:        $black;

// Font stack
$body-font: "Source Serif 4", Georgia, serif !default;

// The base body size
$body-font-size: 16px !default;

// Monospace font stack
$mono-font: Consolas, "Liberation Mono", Menlo, Courier, monospace !default;
